@model UserViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<Guser> _userManager
@{
    ViewData["Title"] = "UserList";
}

<h1>Gusers</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Gusers[0].Id)</th>
            <th>@Html.ActionLink("Username", "UserList", new {sortOrder = ViewBag.NameSort})</th>
            <th>@Html.ActionLink("Email", "UserList", new { sortOrder = ViewBag.EmailSort })</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var guser in Model.Gusers)
        {
            var roles = await _userManager.GetRolesAsync(@guser);
            <tr>
                <td>@Html.DisplayFor(model => guser.Id)</td>
                <td>@Html.DisplayFor(model => guser.UserName)</td>
                <td>@Html.DisplayFor(model => guser.Email)</td>
                <td>@roles[0]</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserPanel" asp-action="Edit" asp-route-id="@guser.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>