@model SampleDotNet.Models.Post
@using Microsoft.AspNetCore.Identity
@inject UserManager<Guser> _userManager
@{
    ViewBag.Title = Model.Title;
    var guser = await _userManager.GetUserAsync(User);
}

<div class="card">
    <h6>@Html.ActionLink(String.Format("Gommunity/{0}",Model.Gommunity.GName), "Redirect", "GommunityManage", new { gommunityName = Model.Gommunity.GName }, null)</h6>
    @if(Model.Reactions.Any(r => r.Value == 1 && r.Guser.Id == guser.Id))
    {
        <h6>@Html.ActionLink("Undo Reaction", "UndoReaction", "Gommunity", new { postId = Model.Id, value = 1 })</h6>
    } else
    {
        <h6>@Html.ActionLink("Up", "Reaction", "Gommunity", new { postId = Model.Id, value = 1 })</h6>
    }

    <h6>@Model.Gratio</h6>

    @if (Model.Reactions.Any(r => r.Value == -1 && r.Guser.Id == guser.Id))
    {
        <h6>@Html.ActionLink("Undo Reaction", "UndoReaction", "Gommunity", new { postId = Model.Id, value = -1 })</h6>
    }
    else
    {
        <h6>@Html.ActionLink("Down", "Reaction", "Gommunity", new { postId = Model.Id, value = -1 })</h6>
    }
    
    @if (guser != null && await _userManager.IsInRoleAsync(guser, "Owner"))
    {
        <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", "Gommunity", new { postId = Model.Id })</button>
    }
    <div class="card-header">
        <h6>Guser.@Model.Guser.UserName</h6>
        <h3>@Model.Title</h3>
    </div>
    <div class="card-body">
        <p>@Model.Description</p>
        @if (Model.Image != null)
        {
            <img style="max-width:100%;max-height:50vh" src="data:image/jpeg;base64,@Model.Image" />
        }
    </div>
    <div class="card-footer">
        <h2>Create a Comment</h2>
        <form asp-action="CreateComment" asp-controller="Gommunity">
            <input type="hidden" name="postId" value="@Model.Id" />
            <div class="form-group">
                <label for="comment">Content</label>
                <input name="comment" class="form-control" />
            </div>
            <input type="submit" value="Comment" />
        </form>
        @foreach(var comment in Model.Comments)
        {
            <div class="card">
                <div class="card-header">
                    <h6>Guser.@comment.Guser.UserName</h6>
                    @if (guser != null && await _userManager.IsInRoleAsync(guser, "Owner"))
                    {
                        <button class="btn btn-danger">@Html.ActionLink("Delete", "DeleteComment", "Gommunity", new { commentId = comment.Id, postId = Model.Id })</button>
                    }
                </div>
                <div class="card-body">
                    <p>@comment.Content</p>
                </div>
                <div class="card-footer">
                    <h6>@comment.CreatedAt</h6>
                </div>
            </div>
        }
    </div>
</div>

